.tooltip-container {
  display: inline-block;
  position: relative;
  margin-left: 5px;
}

.tooltip-icon {
  cursor: pointer;
  color: #888;
  font-size: 16px;
  background-color: rgba(83, 83, 83, 0.219);
  border: 1px solid rgb(104, 104, 104);
  border-radius: 50%;
  width: 23px;
  height: 23px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}

.tooltip-icon:hover {
  background-color: rgba(55, 55, 55, 0.1);
}

.tooltip-text {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 7px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
