<h2>NHL Bracket Challenge 2025</h2>

<div class="bracket-grid-7">
  <!-- Column 1: West R1 -->
  <div class="column-container">
    <h4>Länsi 1. Kierros</h4>
    <div class="column">
      <div *ngFor="let m of matchups.west" class="matchup">
        <div class="teams-and-games west">
          <div class="game-control" *ngIf="userPicks.round1[m.matchupCode]">
            <button
              class="plus-button"
              (click)="increaseGames('round1', m.matchupCode)"
            >
              +
            </button>
            <div>{{ getGames("round1", m.matchupCode) }}</div>
            <button
              class="minus-button"
              (click)="decreaseGames('round1', m.matchupCode)"
            >
              –
            </button>
          </div>
          <div class="teams">
            <div
              class="team"
              [class]="getTeamClass(m.matchupCode, m.team1)"
              (click)="pickWinner(m.matchupCode, m.team1)"
            >
              {{ m.team1 || "\u00A0" }}
            </div>
            <div
              class="team"
              [class]="getTeamClass(m.matchupCode, m.team2)"
              (click)="pickWinner(m.matchupCode, m.team2)"
            >
              {{ m.team2 || "\u00A0" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Column 2: West R2 -->
  <div class="column-container">
    <h4>Länsi Div Finaalit</h4>
    <div class="column">
      <div *ngFor="let key of ['w-semi', 'w-semi2']" class="matchup">
        <div class="teams-and-games west">
          <div class="game-control" *ngIf="userPicks.round2[key + '-winner']">
            <button
              class="plus-button"
              (click)="increaseGames('round2', key + '-winner')"
            >
              +
            </button>
            <div>{{ getGames("round2", key + "-winner") }}</div>

            <button
              class="minus-button"
              (click)="decreaseGames('round2', key + '-winner')"
            >
              –
            </button>
          </div>
          <div class="teams">
            <div
              class="team"
              *ngFor="let team of getTeamArray('round2', key)"
              [class]="getTeamClass(key, team)"
              [class.disabled]="!isTeamSelectable(team)"
              (click)="isTeamSelectable(team) && pickWinner(key, team)"
            >
              {{ team || "\u00A0" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Column 3: West Final -->
  <div class="column-container">
    <h4>Länsi Konf Finaali</h4>
    <div class="column">
      <div class="matchup">
        <div class="teams-and-games west">
          <div
            class="game-control"
            *ngIf="userPicks.round3['west-final-winner']"
          >
            <button
              class="plus-button"
              (click)="increaseGames('round3', 'west-final-winner')"
            >
              +
            </button>
            <div>{{ getGames("round3", "west-final-winner") }}</div>

            <button
              class="minus-button"
              (click)="decreaseGames('round3', 'west-final-winner')"
            >
              –
            </button>
          </div>
          <div class="teams">
            <div
              class="team"
              *ngFor="let team of getTeamArray('round3', 'west-final')"
              [class]="getTeamClass('west-final', team)"
              [class.disabled]="!isTeamSelectable(team)"
              (click)="isTeamSelectable(team) && pickWinner('west-final', team)"
            >
              {{ team || "\u00A0" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Column 4: Stanley Cup Final -->
  <div class="column-container">
    <h4>Stanley Cup Finaali</h4>
    <div class="column">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Stanley_Cup_no_background.png"
        alt="Stanley Cup"
        class="cup-image"
      />
      <div class="matchup">
        <div class="teams-and-games cup-final">
          <!-- Trophy image -->

          <!-- Teams -->
          <div class="teams">
            <div
              class="team"
              *ngFor="let team of getTeamArray('final', 'cup')"
              [class]="getTeamClass('cup', team)"
              [class.disabled]="!isTeamSelectable(team)"
              (click)="isTeamSelectable(team) && pickWinner('cup', team)"
            >
              {{ team || "\u00A0" }}
            </div>
          </div>

          <!-- Game controls -->
          <div
            class="game-control final-control"
            *ngIf="userPicks.final['cup-winner']"
          >
            <button
              class="minus-button"
              (click)="decreaseGames('final', 'cup-winner')"
            >
              –
            </button>
            <div>{{ getGames("final", "cup-winner") }}</div>
            <button
              class="plus-button"
              (click)="increaseGames('final', 'cup-winner')"
            >
              +
            </button>
          </div>

          <!-- Champion label -->
          <div class="champion-label" *ngIf="userPicks.final['cup-winner']">
            <div>🏆 CHAMPION:</div>
            <div class="champion-name">
              {{ userPicks.final["cup-winner"] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Column 5: East Final -->
  <div class="column-container">
    <h4>Itä Konf Finaali</h4>
    <div class="column">
      <div class="matchup">
        <div class="teams-and-games east">
          <div
            class="game-control"
            *ngIf="userPicks.round3['east-final-winner']"
          >
            <button
              class="plus-button"
              (click)="increaseGames('round3', 'east-final-winner')"
            >
              +
            </button>
            <div>{{ getGames("round3", "east-final-winner") }}</div>

            <button
              class="minus-button"
              (click)="decreaseGames('round3', 'east-final-winner')"
            >
              –
            </button>
          </div>
          <div class="teams">
            <div
              class="team"
              *ngFor="let team of getTeamArray('round3', 'east-final')"
              [class]="getTeamClass('east-final', team)"
              [class.disabled]="!isTeamSelectable(team)"
              (click)="isTeamSelectable(team) && pickWinner('east-final', team)"
            >
              {{ team || "\u00A0" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Column 6: East R2 -->
  <div class="column-container">
    <h4>Itä Div Finaali</h4>
    <div class="column">
      <div *ngFor="let key of ['e-semi', 'e-semi2']" class="matchup">
        <div class="teams-and-games east">
          <div class="game-control" *ngIf="userPicks.round2[key + '-winner']">
            <button
              class="plus-button"
              (click)="increaseGames('round2', key + '-winner')"
            >
              +
            </button>
            <div>{{ getGames("round2", key + "-winner") }}</div>

            <button
              class="minus-button"
              (click)="decreaseGames('round2', key + '-winner')"
            >
              –
            </button>
          </div>
          <div class="teams">
            <div
              class="team"
              *ngFor="let team of getTeamArray('round2', key)"
              [class]="getTeamClass(key, team)"
              [class.disabled]="!isTeamSelectable(team)"
              (click)="isTeamSelectable(team) && pickWinner(key, team)"
            >
              {{ team || "\u00A0" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Column 7: East R1 -->
  <div class="column-container">
    <h4>Itä 1. Kierros</h4>
    <div class="column">
      <div *ngFor="let m of matchups.east" class="matchup">
        <div class="teams-and-games east">
          <div class="game-control" *ngIf="userPicks.round1[m.matchupCode]">
            <button
              class="plus-button"
              (click)="increaseGames('round1', m.matchupCode)"
            >
              +
            </button>
            <div>{{ getGames("round1", m.matchupCode) }}</div>
            <button
              class="minus-button"
              (click)="decreaseGames('round1', m.matchupCode)"
            >
              –
            </button>
          </div>
          <div class="teams">
            <div
              class="team"
              [class]="getTeamClass(m.matchupCode, m.team1)"
              (click)="pickWinner(m.matchupCode, m.team1)"
            >
              {{ m.team1 || "\u00A0" }}
            </div>
            <div
              class="team"
              [class]="getTeamClass(m.matchupCode, m.team2)"
              (click)="pickWinner(m.matchupCode, m.team2)"
            >
              {{ m.team2 || "\u00A0" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Buttons -->
<div class="button-row">
  <button class="bracket-button" (click)="savePicks()">💾 Save Picks</button>
  <button class="bracket-button" (click)="resetBracket()">
    🔄 Reset Bracket
  </button>
  <button class="bracket-button" (click)="loadSavedPicks()">
    📂 Load Saved Picks
  </button>
</div>
