<h2>Rekisteröidy</h2>

<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
  <label for="username">Käyttäjätunnus / sähköposti:</label><br />
  <input
    type="text"
    id="username"
    name="username"
    required
    [(ngModel)]="formData.username"
  /><br /><br />

  <label for="teamName">Joukkueen nimi:</label><br />
  <input
    type="text"
    id="teamName"
    name="teamName"
    required
    [(ngModel)]="formData.teamName"
  /><br /><br />

  <label for="password">Salasana:</label><br />
  <input
    type="password"
    id="password"
    name="password"
    required
    [(ngModel)]="formData.password"
  /><br /><br />

  <label for="confirmPassword">Vahvista salasana:</label><br />
  <input
    type="password"
    id="confirmPassword"
    name="confirmPassword"
    required
    [(ngModel)]="formData.confirmPassword"
  /><br /><br />

  <label for="registrationCode">Rekisteröinti koodi:</label><br />
  <input
    type="text"
    id="registrationCode"
    name="registrationCode"
    required
    [(ngModel)]="formData.registrationCode"
  /><br /><br />

  <button type="submit" [disabled]="!registerForm.form.valid">
    Rekisteröidy
  </button>
</form>

<div *ngIf="message" style="color: green">{{ message }}</div>
<div *ngIf="error" style="color: red">{{ error }}</div>
